body{
    background-color: #80b3ff;
}
#id_new_item {
    margin-top: 2ex;
    background-color: #8533ff;
    font-size: 3rem;
    text-align: center;
    color: black;
}
#id_new_item:hover{
    background-color: #ccb3ff;
    color: #ff0000;
}
